@import "../base";

.container {
  max-width: 1180px;
  padding-top: map-get($spacers, 7);
  padding-bottom: map-get($spacers, 7);

  @include media-breakpoint-down(lg) {
    padding-top: map-get($spacers, 4);
    padding-bottom: map-get($spacers, 4);
  }
}
