.navbar-dark .navbar-nav .nav-link {
  position: relative;
  white-space: nowrap;
  color: $body-color;
  text-transform: uppercase;

  &:hover {
    color: $primary;
  }

  &.active {
    font-weight: $font-weight-bold;
    color: $primary;
  }
}
