@import "../styles/base";

.home-logo-block {
	background-image: url("../images/home-background.jpg");
	min-height: calc(100vh - 120px);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -45px;
	padding-bottom: 120px;
	background-position: center;

	@include media-breakpoint-up(xl) {
		margin-top: -41px;
	}

	.projects-container {
		max-width: 1200px;
	}

	&__logo {
		width: 80%;
		max-width: 500px;
		// @include media-breakpoint-up(sm) {
		// 	margin-top: -30px;
		// }
	}
}
